*{
    margin: 0%;
    padding: 0%;
    color: rgb(22, 21, 21);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#8DE8FF, #6CACFF);
}

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.counterTimer{
    display: flex;
}

.counterTimer > p{
    font-size: 1.2rem;
    padding: 2rem;
    text-transform: uppercase;

}

.counterTimer>p> span{
    display: block;
    font-size: 2rem;
}
